code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-dark: rgb(7, 7, 7)c;
  --bg-primary: #252525;
  --bg-secondary: #191919;
  --bg-third: #3f3f3f;
  --transition-speed: 600ms;
  --border-color: #ececec;
  --sun-color: #ff8147d9;
  --bg-text: rgba(0, 0, 0, 0.1);
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

button {
  padding: .5rem;
  margin: .5rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #616163;
}

main {
  margin: auto;
  padding-top: 50em;
  color: #050505;
}

.bg-box {
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.bg {
  position: absolute;
  background: url('./assets/images/desolate.svg') center center;
  background-size: cover;
  top: -10%;
  bottom: 10%;
  left: -10%;
  right: 10%;
  width: 120%;
  height: 120%;
  filter: blur(0px);
}

.bg-clouds {
  position: absolute;
  top: 20%;
  left: 150%;
  height: 100px;
  z-index: 1;
  opacity: .3;
  animation: flyingClouds 100s linear infinite;
}

.bg-clouds-small {
  position: absolute;
  top: 20%;
  left: 150%;
  height: 100px;
  z-index: 1;
  opacity: .3;
  animation: flyingClouds 120s linear infinite;
}

@keyframes flyingClouds {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}

.home-header {
  padding: 2em;
  /* background-color: var(--bg-text); */
  width: 50%;
}

.home-header h2 {
  margin-top: 0;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-dark);
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.home-div {
  margin-top: 2em;
  padding: 2em;
  background-color: var(--bg-text);
  filter: opacity(0);
  /* filter: ; */
}

.navbar {
  position: fixed;
  z-index: 50;
  user-select: none;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
}

.nav-link img {
  min-width: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.logo img {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo img {
  transform: rotate(-180deg);
}

/* NOTIFICATION */

.notification {
  position: fixed;
  top: 1em;
  left: 1em;
  padding: 1em;
  width: auto;
  min-height: 1em;
  border-radius: var(--border-radius);
  animation: slide 3s;
  z-index: 150;
}

.success {
  background-color: #fcfff5;
  color: #2c662d;
  border: 1px #2c662d solid;
}

.failure {
  background-color: #fff6f6;
  color: #9f3a38;
  border: 1px #9f3a38 solid;
}

@keyframes slide {
  0% {
    transform: translateX(-110%);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

/* LOGIN */

.login-box {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, .6); */
  box-shadow: 0 0 10000px 0 var(--sun-color);
  border-radius: var(--border-radius);
  filter: opacity(1);
  transition: filter 10s;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-buttons>div {
  border: 1px solid white;
  cursor: pointer;
  padding: .5rem;
  color: var(--text-dark);
  background-color: var(--text-secondary);
  border-radius: var(--border-radius);
}

.login-btn {
  background-color: #fed0b1ff;
}

.login-btn:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--sun-color), 0 0 25px var(--sun-color), 0 0 50px var(--sun-color), 0 0 100px var(--sun-color);
}

.login-box .user-box input:focus~label, .login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}

.dimmer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.719);
}

/* BLOGPOSTS */

.blogposts-main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  /* background: rgb(140, 140, 140); */
}

.blogposts-header {
  padding: 1em;
}

.blogpost {
  align-self: stretch;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--border-radius);
  background-color: var(--bg-text);
}

.blogpost:hover {
  transform: scale(1.01);
  transition: transform 100ms;
}

.bp-initials {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.blogpost-content {
  background-color: var(--bg-text);
  border-radius: var(--border-radius);
  padding: 1em;
}

.blogpost-author {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-style: italic;
}

/* react transition group */

.text-content {
  background-color: var(--bg-text);
  padding: 1em;
  margin-bottom: 1em;
}

.rtg-main {
  width: 100%;
  height: 50px;
}

.rtg-box {
  height: 100%;
  width: 100%;
  cursor: pointer;
  user-select: none;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rtg-enter {
  opacity: 0;
}

.rtg-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.rtg-exit {
  opacity: 1;
}

.rtg-exit-active {
  opacity: 0;
  transition: opacity 1500ms;
}

.dropdown {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 100%;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.dropdown-content{
  background-color: var(--bg);
}

.dropdown-enter {
  height: 0;
}

.dropdown-enter-active {
  height: 100px;
  transition: height 500ms;
}

.dropdown-enter-done {
  height: 100px;
}
.dropdown-exit {
  height: 100px;
}

.dropdown-exit-active {
  height: 0;
  transition: height 500ms;
}

.dropdown-exit-done {
  height: 0;
}
/* small  */

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 1em;
  }
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  @keyframes flyingClouds {
    0% {
      left: -180%;
    }
    100% {
      left: 280%;
    }
  }
}

/* large  */

@media only screen and (min-width: 600px) {
  main {
    width: 60%;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    padding: 5em;
    padding-top: 1em;
  }
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 15rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}