code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #252525;
  --bg-secondary: #191919;
  --bg-third: #3f3f3f;
  --transition-speed: 600ms;
  --border-color: #f5f5f5;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  background-color: var(--bg-third);
  background-image: url('./assets/images/mountains.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
button {
  padding: .5rem;
  margin: .5rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #616163;
}

main {
  margin: auto;
  min-height: 100vh;
  margin-top: 20em;
  color: #ffffff;
  /* background-image: url('./assets/images/mountains.svg'); */
}

.navbar {
  position: fixed;
  user-select: none;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
}

.nav-link img {
  min-width: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.logo img {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo img {
  transform: rotate(-180deg);
}

/* LOGIN */
/* .login{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.login-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.login-buttons{

} */

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}
body *:not(.focus) { 
  /* filter: blur(3px);  */
} 
/* BLOGPOSTS */

.blogposts-main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  /* background: rgb(140, 140, 140); */
}

.blogposts-header {
  padding: 1em;
}

.blogpost {
  align-self: stretch;
  cursor: pointer;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  /* background-color: rgb(218, 218, 218); */
}

.blogpost:hover {
  transform: scale(1.01);
  transition: transform 100ms;
}

.bp-initials {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

/* .bp-header{
  
} */

/* small  */

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 1em;
  }
  .navbar {
    bottom: 0;
    width: 100%;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
}

/* large  */

@media only screen and (min-width: 600px) {
  main {
    width: 60%;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    padding: 5em;
    padding-top: 1em;
  }
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 15rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}